In [16]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [3]:
url = 'https://en.wikipedia.org/wiki/List_of_Game_of_Thrones_episodes'
r = requests.get(url)

In [4]:
soup = BeautifulSoup(r.text, 'html.parser')

In [33]:
series_overview_table = soup.find('table', class_="wikitable")
#series_overview_table
headers = []

headers_elements = series_overview_table.find_all('tr', limit=2)
series_overview_headers1 = headers_elements[0].find_all('th')
series_overview_headers2 = headers_elements[1].find_all('th')

for index, header in enumerate(series_overview_headers1):
    if index == 2:
        for header_ in series_overview_headers2:
            headers.append(header_.text)
    else:
        headers.append(header.text)

row_values = []
for row in series_overview_table.find_all('tr')[2:]:
    row_value = []
    for index, col in enumerate(row.find_all(['th', 'td'])[1:]):
        if (index == 2) or (index == 3):
            row_value.append(col.text.replace('\xa0', ' '))
        elif index == 4:
            row_value.append(col.text.split('[')[0])
        else:
            row_value.append(col.text)
    row_values.append(row_value)

df = pd.DataFrame(row_values, columns=headers)
df

,Season,Episodes,First aired,Last aired,Avg. U.S. viewers(millions)
0,1,10,"April 17, 2011 (2011-04-17)","June 19, 2011 (2011-06-19)",2.52
1,2,10,"April 1, 2012 (2012-04-01)","June 3, 2012 (2012-06-03)",3.80
2,3,10,"March 31, 2013 (2013-03-31)","June 9, 2013 (2013-06-09)",4.97
3,4,10,"April 6, 2014 (2014-04-06)","June 15, 2014 (2014-06-15)",6.84
4,5,10,"April 12, 2015 (2015-04-12)","June 14, 2015 (2015-06-14)",6.88
5,6,10,"April 24, 2016 (2016-04-24)","June 26, 2016 (2016-06-26)",7.69
6,7,7,"July 16, 2017 (2017-07-16)","August 27, 2017 (2017-08-27)",10.26
7,8,6,"April 14, 2019 (2019-04-14)","May 19, 2019 (2019-05-19)",11.99